@import "../../vars";

.item {
  font-size: 15px;
  margin-right: 40px;
  padding: 7px 15px;
  border-radius: 4px;
  cursor: pointer;

  &--active {
    background-color: $main-color;
    color: $light;
  }
}
